@using social_network.Data;
@using social_network.Components.Reusable
@using social_network.Model
@inject SessionService session;
@rendermode InteractiveServer

@inject PostService postService;
<EditForm FormName="newPost" Model="newPost" OnValidSubmit="HandleValidPostCreation" autocomplete="off">
    <div class="form-floating mb-3 input-group mt-3">
        <InputTextArea rows="3" class="form-control" id="postContent" placeHolder="Something Cool!" @bind-Value="newPost.textContent"></InputTextArea>
        <label for="postContent">Post Content</label>
        <button type="submit" class="btn btn-success w-25">Post</button>
    </div>
    
    <ValidationSummary/>
</EditForm>
@code {

    // POST
    PostData newPost = new PostData();

    private void HandleValidPostCreation()
    {
        if (newPost.textContent.Length < 1)
        {
            return;
        }
        
        newPost.postDate = DateTime.Now;
        newPost.username = session.loggedInUser;
        if (session.loggedInUser != null)
        {
            postService.CreatePost(newPost);
        }
        else
        {
            newPost.username = "debug";
            postService.CreatePost(newPost);
        }
        StateHasChanged();
    }
}

