@page "/Feed"
@using social_network.Data
@using social_network.Model
@inject UserService userService;
@inject SessionService session;
@inject PostService postService;
@inject NavigationManager nav;
@using social_network.Components.Reusable
@rendermode InteractiveServer
<NavigationBar></NavigationBar>

<div class="container-fluid bg-secondary bg-opacity-25 mt-3 w-75 rounded-1 float-start">
    
    <header>
        <PostForm></PostForm>
        <div class="">
            <h2 class="text-secondary-emphasis mt-2">Content for you!</h2>
            <h5 class="text-secondary">Posts from your friends</h5>
        </div>
    </header>
    <div>
        <ul class="list-group-flush ps-0">
            @foreach (PostData post in postService.GetAllPosts())
            {
                <Post post="@post"></Post>
            }
        </ul>
    </div>
</div>

@code {
    bool postMenuOpen = false;
    
    string loggedInUser;
    protected override void OnInitialized()
    {
        loggedInUser = session.loggedInUser;
        if (loggedInUser == null)
        {
            nav.NavigateTo("/");
        }
    }

}